.frameCreation {
    display: block;
}

.masquerFrameCreation {
    position: absolute;
    z-index: 0;
}

.formSelectContrat {
    margin-top: 40px;
    margin-bottom: 0;
}

.formSelectContrat > .divInputs {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    width: 82%;
}

.formChangerContrat {
    margin-top: 0;
}

.btnCancelModifier {
    font-size: 13px;
    background-color: #D71313;
    border: 0;
    color: white;
    cursor: pointer;
    padding: 10px;
}